/* home container */
.home-container {
    background-color: black;
    height: 100vh;/* full viewport height*/
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;/*center horizontally*/
    align-items: center;/*center vertically*/
    text-align: center;
}

/* name styling */
.home-container h1{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.animated-text {
  white-space: pre; /* ensures spaces are preserved */
}

.animated-text span {
  opacity: 0;
  display: inline-block;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}