/*navbar container  */
.navbar{
    display: flex; /* arrange child elements horizontally */
    justify-content: space-between; /* Push items to opposite ends (left and right) with space between */
    align-items: center;/* Vertically center items within the navbar */
    padding: 20px 50px;/* Add spacing inside the navbar: 20px top/bottom, 50px left/right */
    background-color: #336fe7;/* Set the background color of the navbar */
    color: aliceblue;/* Set the default text color inside the navbar */
    position: sticky;/* Make the navbar stick to the top of the page when scrolling */
    top: 0;/* Position it at the very top of the viewport */
    z-index: 1000;/* Ensure the navbar stays above other elements (like content/images) */
}

/* left side links */
.navbar-left h1{
    margin: 0;
    font-size: 24px;
    cursor: pointer;
}

/* right side links */
.navbar-right .nav-links{
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;/* remove default margin*/
    padding: 0;/* remove default padding*/
}

.navbar-right .nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar-right .nav-links li a:hover {
  color: #ff0000;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
  }

  .navbar-right {
    width: 100%;
    display: none;
  }

  .navbar-right.active {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-top: 10px;
  }

  .nav-links li {
    width: 100%;
    text-align: left;
  }
}