.project-container {
  padding: 50px;
  text-align: center;
  background-color:#f8f7df ;
  color: #150000;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 50px;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 20px;
}

.project-item {
  border: 2px solid whitesmoke;   /* outer box */
  display: flex;
  flex-direction: column;
  background-color: #fffefe;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 250px;
  cursor: pointer;
  margin: 0 auto;
}

.project-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;       /* fills the square box */
  display: block;
  filter: blur(0.6px);
}

.project-item hr {
  width: 100%;
  margin: 0;
  border: none;
  border-top: 1px solid #333; /* separator line */
}

.project-item p {
  margin: 10px 0;
  font-size: 16px;
}

.project-item:hover {
  transform: scale(1.05);
  filter: blur(0.6px);
  transition: filter 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: zoom-out;
}

.overlay .zoomed {
  max-width: 90%;
  max-height: 90%;
  border: 3px solid #fff;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .project-container {
    padding: 20px;
  }
}